body {
  background-color: #f0f4f7;
}

.content {
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: gray;
  font-size: 2rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px 10% 10px 10%;

}

.zone {
  flex: 1 0 3.4%;
  aspect-ratio: 1 / 1; 
  border: lightgrey solid 1px;
  align-self: center;
}

.needMaintenance {
  background-image: url("https://storage.googleapis.com/root-bank/dinoparks/dino-parks-wrench.png");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 3s;
}

.safe {
  background-color: #51B687;
  transition: 3s;
}

.unsafe {
  background-color: red;
  transition: 3s;
}

.performed {
  background-color: blue;
  transition: 3s;
}

.label {
  border: none;
  text-align: center;
  color: lightgray;
  align-self: center;
}
